n8n-workflows/onboarding-to-sheet.json
{
  "name": "Serenium Onboarding → Google Sheet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "serenium-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-partial",
              "leftValue": "={{ $json.body.partial }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-partial",
      "name": "Is Partial?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UKr_CUldJXJJlqSj5i6D13uBNpKsr1OGHYCdB-5zTgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Onboarding",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Contact Name": "={{ $json.body.contact_name }}",
            "Contact Email": "={{ $json.body.contact_email }}",
            "Business Name": "",
            "Industry": "",
            "Services": "",
            "Service Areas": "",
            "Hours": "",
            "Carrier": "",
            "Ring Delay": "",
            "Emergency #": "",
            "Notification Emails": "",
            "Status": "Partial",
            "Prompt Status": "",
            "Generated Prompt": ""
          }
        },
        "options": {}
      },
      "id": "sheet-partial",
      "name": "Sheet — Partial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9KnF8nrVAD5dpX4u",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UKr_CUldJXJJlqSj5i6D13uBNpKsr1OGHYCdB-5zTgs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Onboarding",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString().split('T')[0] }}",
            "Contact Name": "={{ $json.body.contact_name }}",
            "Contact Email": "={{ $json.body.contact_email }}",
            "Business Name": "={{ $json.body.business ? $json.body.business.name : '' }}",
            "Industry": "={{ $json.body.business ? $json.body.business.industry : '' }}",
            "Services": "={{ $json.body.business && $json.body.business.services ? $json.body.business.services.join(', ') : '' }}",
            "Service Areas": "={{ $json.body.business && $json.body.business.service_areas ? $json.body.business.service_areas.join(', ') : '' }}",
            "Hours": "={{ $json.body.business && $json.body.business.hours ? (typeof $json.body.business.hours === 'object' ? Object.entries($json.body.business.hours).map(([d,h]) => d + ': ' + h).join(', ') : $json.body.business.hours) : '' }}",
            "Carrier": "={{ $json.body.phone_setup ? $json.body.phone_setup.carrier : '' }}",
            "Ring Delay": "={{ $json.body.phone_setup ? $json.body.phone_setup.ring_before_pickup_seconds : '' }}",
            "Emergency #": "={{ $json.body.phone_setup ? $json.body.phone_setup.after_hours_emergency_number : '' }}",
            "Notification Emails": "={{ $json.body.after_call && $json.body.after_call.notification_emails ? $json.body.after_call.notification_emails.join(', ') : '' }}",
            "Status": "Complete",
            "Prompt Status": "={{ $json.body.generated_prompt ? 'Generated' : 'Failed' }}",
            "Generated Prompt": "={{ $json.body.generated_prompt }}"
          }
        },
        "options": {}
      },
      "id": "sheet-complete",
      "name": "Sheet — Complete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 420],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9KnF8nrVAD5dpX4u",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-partial",
      "name": "Respond Partial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 180]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-complete",
      "name": "Respond Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Partial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Partial?": {
      "main": [
        [
          {
            "node": "Sheet — Partial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet — Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet — Partial": {
      "main": [
        [
          {
            "node": "Respond Partial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet — Complete": {
      "main": [
        [
          {
            "node": "Respond Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
